@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic,latin-ext');

html, body { overflow-x: hidden; }
body {margin: 0;padding: 0;max-width: 100%;background: transparent url(../images/bodyBgd.jpg);background-size: cover;background-attachment: fixed;overflow: hidden;height: auto;}
img { border: 0; }
.clear { clear: both; display: block; }
.container {width: 1200px;margin: 0 auto;position: relative;max-width: 100%;}

a, a:hover, a:active, a:focus { outline: 0; }
a, a *, a::before, a::after { text-decoration: none; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition: .5s; } 

::-webkit-selection { background: #f84970; color: #fff; }
::-moz-selection { background: #f84970; color: #fff; }
::selection { background: #f84970; color: #fff; }

/* /START/ header */
header {width: 1000px;overflow: hidden;margin: 0 auto;}

header .logo {float: left;width: 144px;position: relative;overflow: hidden;margin: 15px 0 0;}
header .logo a {display: inline-block;height: 70px;width: 144px;position: relative;overflow: hidden;}
header .logo a::after{content: "";position: absolute;top: -210%;left: -210%;width: 200%;height: 200%;opacity: 0;transform: rotate(30deg);background: rgba(255, 255, 255, 0.13);background: linear-gradient( to right,  rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0.0) 100% );} 
header .logo a:hover::after{ opacity: 1; top: -30%; left: -30%; transition-property: left, top, opacity; transition-duration: 0.7s, 0.7s, 0.15s; transition-timing-function: ease; } 

header nav.topNav { overflow: hidden; float: right; }
header nav.topNav ul { width: 100%; background: transparent; border: none; float: right; }
header nav.topNav ul li { float: left; }
header nav.topNav ul li a {font-size: 10px;color: #685b5b;padding: 5px 10px;margin: 20px 5px;}
header nav.topNav > ul > li > a:hover { color: #f84970; background: #f0dee2; }
header nav.topNav li.active a { color: #f84970; background: #f0dee2; }
header nav.topNav li a.first { margin-left: 0; }
header nav.topNav li a.last { margin-right: 0; }

header nav { overflow: visible; float: right; }
header nav ul {margin: 0;list-style: none;padding: 0;float: none;overflow: hidden;background: #fff;border: 1px solid #dad7d7;border-bottom: 0;}
header nav ul li { float: left; }
header nav > ul > li > a {font-family: 'Montserrat', sans-serif;font-weight: 400;color: #220008;font-size: 13px;padding: 13px 16px 13px;text-transform: uppercase;display: block;box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;}
header nav > ul > li > a:hover, header nav > ul > li.active > a {color: #fff;background: #f84970;}
/* /END/ header */

/* /START/ section */
section {width: 1000px;margin: 0 auto;}
section a {display: block;position: relative;width: calc(50% - 2px);float: left;border: 1px solid #dad7d7;border-bottom: 0px solid transparent;z-index: 1;}
section > a:hover { margin-left: -10px; margin-top: -10px; border-right: 10px solid #f84970; border-bottom: 10px solid #f84970; }
section > a::before { position: absolute;top: 100%;left: -1px;z-index: 4;display: block;content: '';width: 0px;height: 0px;border-right: 15px solid transparent;border-bottom: 10px solid #f7f7f7;}
section > a:hover::before {position: absolute;top: 100%;left: -1px;z-index: 4;display: block;content: '';width: 0px;height: 0px;border-right: 15px solid transparent;border-bottom: 10px solid #f7f7f7;}
section > a::after {position: absolute;top: -1px;right: -10px;display: block;content: '';opacity: 0;width: 0px;height: 0px;border-left: 10px solid transparent;border-top: 10px solid #fff;}
section > a:hover::after {position: absolute;top: -1px;right: -10px;z-index: 4;opacity: 1;display: block;content: '';width: 0px;height: 0px;border-left: 10px solid transparent;border-top: 10px solid #fff;}
section > a:nth-child(2n - 1):hover { border-right: 10px solid #f84970; }
section a:nth-child(2n - 1) {border-right: 0px solid transparent; clear: both;}
section article {width: calc(100% - 20px);background: #ffffff;text-align: center;padding: 15px 10px;overflow: hidden;}
section article img {max-width: 100%;}
section article span {font-family: 'Montserrat', sans-serif;font-weight: 600;font-size: 10px;display: block;text-align: left;color: #f84970;margin: 10px 0 5px;}
section article h2 {font-family: 'Playfair Display', serif;font-weight: 400;font-size: 24px;color: #000;margin: 0;text-align: left;}
section article p {text-align: left;font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 13px;line-height: 1.6;color: #929090;margin: 10px 0;}
section article p.link {margin: 0;color: #bdb3b6;}
section.smaller article { padding-bottom: 10px; border-bottom: 1px solid #dad7d7; }
section article .left, section article .right {width: calc(50% - 10px);float: left;padding-right: 10px;}
section article .left h2 { font-size: 21px; }
section article .left span { margin-bottom: 3px; }
section article .left p { margin: 5px 0; }
/* /END/ section */

/* /START/ footer */
footer { font-family: 'Montserrat', sans-serif; font-size: 11px; color: #929090; width: 1000px; margin: 40px auto; text-align: center; }
/* /END/ footer */