@media screen and (min-width: 1000px) { .slicknav_menu { display: none; } }
@media screen and (max-width: 1000px) {

	.slicknav_menu .slicknav_icon, .slicknav_menu .slicknav_icon * { text-decoration: none; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }
	.slicknav_menu .slicknav_icon { display: block; position: relative; }
	.slicknav_open .slicknav_icon .slicknav_icon-bar:nth-child(1) { transform: rotate(225deg); margin-top: 0; position: absolute; top: 7px; }
	.slicknav_open .slicknav_icon .slicknav_icon-bar:nth-child(2) { background-color: transparent; box-shadow: none; }
	.slicknav_open .slicknav_icon .slicknav_icon-bar:nth-child(3) { transform: rotate(-225deg); margin-top: 0; position: absolute; top: 7px;  }

	header { display: none; }	
	section {width: 100%;margin-top: 77px;}
	footer { width: 100% }
	section a { width: 481px; margin: 0 auto; float: none; }
	section a:nth-child(2n - 1) { border-right: 1px solid #dad7d7; }
	section.smaller { margin-top: 0; }
	section.smaller a:nth-child(2n) { border-top: 0px solid transparent; }
	section > a:hover { margin-left: auto; margin-top: auto; }
	section > a::after { border-top: 10px solid #f7f7f7; }
	section > a:hover::after { border-top: 10px solid #f7f7f7; }
	.slicknav_menu .mobileLogo { float: left; color: #fff; background: transparent url(../images/logo.png) no-repeat; background-size: 110px; width: 110px; height: 55px; margin-left: 0; }
}

@media screen and (max-width: 520px) {
	section.smaller article { display: -webkit-flex; display: flex; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }
	section article .left, section article .right { width: 100%; float: none; padding-right: 0; }
}

@media screen and (max-width: 495px) {
	body { background: #ffffff;  }
	section a { width: calc(100% - 20px); }
}